@import '~Root/styles/colors';
@import '~Root/styles/mixins';

@init: 75px;

.anim() {
  transition: color 0.3s,
    background-color 0.3s,
    width 0.7s ease,
    height 0.7s ease,
    border-color 0.3s;
}

:local(.container) {
  border: 4px solid @color-dark;
  margin: 0px 25px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;

  .anim();

  &:hover {
    border-color: @color-darker;

    & > .header {
      background-color: @color-dark;
      color: white;
    }
  }

  > .header {
    width: @init;
    height: @init;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .anim();
  }

  > .content {
    height: 0px;
    overflow: hidden;

    .anim();
  }
}

@activeMode: 475px;

:local(.active) {
  width: @activeMode;
  height: calc(~'var(--max-height) +' @init);

  > .header {
    width: @activeMode;
    background-color: @color-dark;
    color: white;
  }

  > .content {
    height: var(--max-height);
  }
}
