@import '~Root/styles/colors';
@import '~Root/styles/mixins';

:local(.header) {
  background-color: white;
  width: 100vw;
  text-align: center;
  padding: 30px;
  height: 100px;
  box-sizing: border-box;

  .shallowShadow();
}
